---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="Tentang Saya"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date("Juli 01 2024")}
	heroImage="/pai.jpg"
>
	<p>
		Kenalin Saya <span style="color: white;">Fakhri Nugraha</span>
		saya sangat suka sekali menulis apalagi saat saya sedang belajar sesuatu
		karena dengan menulis kita tidak akan lupa dengan apa yang suda kita pelajari.
		jadi di website ini saya akan berbagi pengalaman menulis saya agar bermanfaat
		bagi temen-temen semua meskipun saya tau saya bukan siapa siapa tapi dengan
		saya membuat website ini semoga saja ada satu atau dua orang yang terbantu.
	</p>
</Layout>
