---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h4>Selamat Datang, Di Blog Saya!👋</h4></h4>
			<p>
				Hallo semuanya Terimakasih Sudah Mampir, Di website ini saya akan membagikan toturial-tutorial seputar dunia it, <span style="color: white;">Selamat Membaca dan Selamat Belajar.🔥</span>
			</p>
			<p>
				saya menulis toturial pendek dan panjang, tentang dunia teknologi khususnya di <span style="color: white;">Web Development </span>. <a href="/about">Tentang saya..</a>
			</p>
			<p></p>
			<br>
			<div class="container">
				<a href="/blog" class="button">
					<div class="button__content">
						<span class="button__text">Mulai Membaca</span>
						<i class="fa-solid fa-book-open button__icon"></i>
		
						<div class="button__reflection-1"></div>
						<div class="button__reflection-2"></div>
					</div>
		
					<img src="book-black-cover-closed_32354.png" alt="" class="button__star-1">
					<img src="book-black-cover-closed_32354.png" alt="" class="button__star-2">
					<img src="draw.png" alt="" class="button__circle-1">
					<img src="open-book_171322.png" alt="" class="button__circle-2">
					<img src="reading-sign_icon-icons.com_68507.png" alt="" class="button__diamond">
					<img src="readinglamp_120979.png" alt="" class="button__triangle">
		
					<div class="button__shadow"></div>
				</a>
			</div>
		</main>
		<Footer />
	</body>
</html>


