---
const today = new Date();

const currentPage = "blog";
---

<footer>
	<hr style="color: black;">
	&copy; {today.getFullYear()} All rights reserved.
	<div class="social-links">
		<a href="https://github.com/fahrirxtak" target="_blank">
			Github
		</a>
		<a href="https://twitter.com" target="_blank">
			Twitter
		</a>
		<a href="https://www.instagram.com/paaiii.n/" target="_blank">
			Instagram
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		color: white;
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
	hr {
		width: 65%;
	}
</style>